.name{
    color: gray;
    font-size: 6.5vw;
    line-height:150%;
    font-family: "Arial Black", sans-serif;
    margin-left:3%;
    margin-top: 10%;
}

.main-background{
    background:url("img/background-1.jpg") no-repeat top center;
    background-size: 100%;
}

.page-header {
    position: fixed;
    top: 4%;
    right: 2%;
    font-family: "Arial Black", sans-serif;
    font-size: 1.9vw;
    word-spacing: 2.5vw;
}

.emoji{
    position: fixed;
    top: 14%;
    left: 30%;
    width: 12.5%;
    height: auto;
}

.main-list-text{
    font-size: 2.6vw;
    font-family: "Arial", sans-serif;
    position: fixed;
    top: 34%;
    right: 5%;
    text-align: center;
}

.red-text{
    color: red;
}
