.name{
    color: gray;
    font-size: 100px;
    line-height:150px;
    font-family: "Arial Black", sans-serif;
    margin-left:80px;
    margin-top: 160px;
}

.main-background{
   /* background:url("img/background-1.jpg");*/
    background-size: cover;
}

.page-header{
    position: absolute;
    top: 60px;
    right: 50px;
    font-family: "Arial Black", sans-serif;
    font-size: 30px;
    word-spacing:40px;
}

.emoji{
    position: absolute;
    top: 115px;
    left: 450px;
}

.main-list-text{
    font-size: 40px;
    font-family: "Arial", sans-serif;
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: center;
}

.red-text{
    color: red;
}
